label[for=nameTask01-field],
label[for=nameTask02-field],
label[for=phone-field] {
    padding-right: 30px; 
    font-weight: bold;
}

label[for=surname-field] {
    padding-right: 10px; 
    font-weight: bold;
}

label[for=mail-field] {
    padding-right: 40px; 
    font-weight: bold;
}

input[value=Submit],
input[value=Info] {
    display: block; 
    margin-top: 40px; 
    padding: 5px 100px 5px 100px; 
    font-weight: bold;
}

input[value=Info] {
    margin-top: 10px;
}
