header {
    color: white;
    background-color: #004085;
    font-size: 27px;
}

main {
    height: 60%;
    background-color: #cce5ff;
    font-size: 12px;
}

footer {
    height: 10%;
    background-color: #004085;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

td {
    padding: 5px 0px 5px 0px;
    width: 200px;
}

input[value="Сохранить"],
[value="Enter"],
[value="Sign out"] {
    display: block;
    margin-top: 40px;
    padding: 5px 80px 5px 80px;
    font-weight: bold;
}

input[value="English"],
[value="France"],
[value="Germany"],
[value="Russian"] {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    width: 130px;
    font-weight: bold;
}

input[value="English"] {
    margin-top: 20px;
    margin-bottom: -10px;
}

input[value="Germany"] {
    margin-top: -10px;
}

input[value="Russian"] {
    margin-top: -10px;
}
