body {
    width: 100%;
}

.white {
    padding: 50px;
    width: 100%;
    background-color: white;
}

.grey {
    padding: 50px;
    width: 100%;
    background-color: darkgrey;
}

h2 {
    text-align: center;
}