.task01 {
    color: red;
    font-size: 27px;
}

.task02 {
    color: blue;
    font-size: 27px;
}

header, footer {
    background-color: darkgray;
    font-size: 27px;
    text-align: center;
}

main {
    font-size: 27px;
    text-align: center;
}